<mat-sidenav-container class="master-container" autosize (window:resize)="onResize($event)">
  <!-- Be sure to keep 'fixedTopGap' in-line with .scss $toolbarHeight -->
  <mat-sidenav #sidenav fixedTopGap="55" fixedInViewport="true" mode="side" [opened]="false">
    <div *ngIf="!shortSidebar">
      <mat-nav-list class="mat-list">
        <a *ngFor="let link of links" mat-list-item [routerLink]="link.routerLink">
          <mat-icon matListIcon *ngIf="link.matIcon">
            {{link.matIcon}}
          </mat-icon>
          {{link.displayText}}
        </a>
      </mat-nav-list>
      <div [ngClass]="bottomClass">
        <mat-action-list class="mat-list">
          <button mat-list-item (click)="toggleDrawerWidth()">
            <mat-icon matListIcon>keyboard_double_arrow_left</mat-icon> Collapse
          </button>
        </mat-action-list>
      </div>
    </div>
    <div *ngIf="shortSidebar">
      <mat-nav-list class="mat-list-short">
        <a *ngFor="let link of links" mat-list-item [routerLink]="link.routerLink">
          <mat-icon matListIcon aria-label="link.displayText" *ngIf="link.matIcon">
            {{link.matIcon}}
          </mat-icon>
          <span *ngIf="!link.matIcon">{{link.displayText | slice:0:3}}</span>
        </a>
      </mat-nav-list>
      <div [ngClass]="bottomClass">
        <mat-action-list class="mat-list-short">
          <button mat-list-item (click)="toggleDrawerWidth()">
            <mat-icon matListIcon aria-label="Expand">keyboard_double_arrow_right</mat-icon>
          </button>
        </mat-action-list>
      </div>
    </div>
  </mat-sidenav>
  
  <mat-sidenav-content class="content-container">
    <mat-toolbar class="toolbar app-toolbar">
      <button (click)="sidenav.toggle()" mat-icon-button aria-label="Menu button">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Grocery Cookbook</span>
      <span class="spacer"></span>
    </mat-toolbar>
    <div class="router-outlet">
      <router-outlet></router-outlet>
    </div>
    <footer>
      <p>Grocery Cookbook</p>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>