# Express
api/public/swagger.json
api/src/routes.ts
api/.env

bin/
dist/

.vscode

# OS X
.DS_Store
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
package-lock.json
build
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs

*.sqlite